*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
}
header{
    margin-left: 50px;
    margin-top: 20px;
    font-size:1.5em;

}
header p{
    color: slategrey;
    font-size: 13px;
}
main{
    width:100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* main content design */
section{
    height: 30%;
    
}
.intro, .video{
    padding: 10px;
    margin-left: 40px;
    
}
.intro p{
    margin-top: 20px;
    color: slategrey;
}
.intro p strong{
    color: black;
}

/* video design */

.video{
  width: 60%;
  height: 500px;
  /* border: 1px solid red; */

}
.video video{
    width:auto 100% ;
    height:100% ;
}
.talk{
    display: flex;
    /* justify-content: space-between; */
    padding: 6px
}
.discuss{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.talk small{
    color: slategrey;
}
.talk div{
    margin-left: 10px;
}
.talk div blockquote{
    margin: 20px 0px;
}